* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(#63666A 50%, #9D2235 50%);
}
.bigtimer {
  background-color: #FFFFFF;
  width: min(90%, 40em);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 70%;
  padding: 1em;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  text-align: center;
}
.bigtimer h1 {
  font-family: "Space Mono", monospace;
  font-size: 5em;  
  color: #9D2235;
}
.bigtimer h2 {
  background-color: #FFFFFF;
  color: #FFFFFF;
  border: none;
  outline: none;
  padding: 0.5em 0.5em;
  border-radius: 0.3em;
  font-weight: 600;
  font-size: 1.5em;
}
.smalltimer {
  background-color: #353638;
  width: min(90%, 40em);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 1em;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}
.smalltimer h1 {
  font-family: "Space Mono", monospace;
  font-size: 2em;  
  color: #FFFFFF;
}
.smalltimer h2 {
  font-size: 1.5em;  
  color: #63666A
}
.scoreboard {
  background-color: #CEB888;
  width: min(90%, 80em);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 22%;
  padding: 2em;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  align-items: center;
}
.team-l {
  text-align: center;
  background-color: #353638;
  padding: 1em;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 6fr 1fr 2fr;
}
.team-r {
  text-align: center;
  background-color: #353638;
  padding: 1em;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 2fr 1fr 6fr;
}
button {
  cursor: pointer;
}
.team-name {
  color: #CEB888;
  font-size: 7vh;
  align-self: center;
}
.team-score {
  color: #FFFFFF;
  font-family: "Space Mono", monospace;
  font-size: 15vh;
  align-self: center;
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.team button {
  background-color: #CEB888;
  border: none;
  outline: none;
  padding: 0.3em 0.7em;
  border-radius: 0.3em;
  font-weight: 600;
  font-size: 1.3em;
}
.btn-box {
  width: min(90%, 40em);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 95%;
  padding: 0.5em;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}
.btn-box button {
  background-color: #9D2235;
  padding: 0.3em 0.7em;
  border-radius: 0.4em;
  font-size: 1em;
  color: #FFFFFF;
  align-items: center;
}

